# fly.toml app configuration file generated for beamborg on 2023-04-26T23:38:55+08:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "beamborg"
primary_region = "hkg"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true

[checks]
  [checks.alive]
    type = "tcp"
    interval = "15s"
    timeout = "2s"
    grace_period = "5s"
